# -----------------------------------------------------------------------------
# OSX
# -----------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# -----------------------------------------------------------------------------
# Windows
# -----------------------------------------------------------------------------
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# -----------------------------------------------------------------------------
# Sublime Text
# -----------------------------------------------------------------------------
*.sublime-*

# -----------------------------------------------------------------------------
# Ruby
# -----------------------------------------------------------------------------
*.gem
.bundle

# Bundle
vendor/

# -----------------------------------------------------------------------------
# Node
# -----------------------------------------------------------------------------
lib-cov
npm-debug.log
node_modules

# -----------------------------------------------------------------------------
# Jekyll
# -----------------------------------------------------------------------------
_site/

# -----------------------------------------------------------------------------
# Reserved Word Search
# -----------------------------------------------------------------------------
