<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/rws.css">
    </head>
    <body>
        <div class="container">
            <div class="row social-icons-container">
                <div class="col-sm-12 text-right">
                    <iframe src="http://ghbtns.com/github-btn.html?user=jgornick&repo=reservedwordsearch&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <h1>Reserved Word Search</h1>
                        <input type="text" class="form-control input-lg search-input" placeholder="Search..." />
                    </div>
                    <p class="alert alert-info search-message">To begin, start typing in the box above.</p>
                    <table class="table table-condensed table-bordered text-left words-table">
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right footer">
                    <p class="muted">
                        Reserved Word Search by <a href="http://joegornick.com" title="Joe Gornick's Blog" target="_blank">Joe Gornick</a>
                        <a href="https://twitter.com/jgornick" title="Joe Gornick's Twitter" target="_blank">
                            <img src="http://g.etfv.co/http://twitter.com" width="20" height="20" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="js/sifter.min.js"></script>
        <script src="js/rws.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2943070-4']);
            _gaq.push(['_setDomainName', 'reservedwordsearch.com']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
